
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}

<div class="page-head_agile_info_w3l inner-contact-page">
	<div class="container py-5">
		<h3 class="title-style text-white pt-5">Bizimle İletişime Geç</h3>
		<ul class="w3_short pt-3 pb-5">
			<li>
				<a href="/Home/HomePage/" class="text-white">Ana Sayfa</a>
				<i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
			</li>
			<li class="text-light">İletişim</li>
		</ul>
	</div>
</div>
<!-- contact page -->
<section class="w3l-contact py-5" id="contact">
	<div class="container py-md-5 py-4">
		<div class="mx-auto pt-lg-4 pt-md-5 pt-4" style="max-width:1000px">
			<div class="row contact-block">
				<div class="col-md-5 contact-left">
					<h3 class="title-style font-weight-bold mb-4">İletişime Geç</h3>
					<div class="cont-details">
						<div class="d-flex contact-grid">
							<div class="cont-left text-center mr-3">
								<span class="fa fa-globe"></span>
							</div>
							<div class="cont-right">
								<h6>Adres</h6>
								<p>Balat, İstanbul, Türkiye.</p>
							</div>
						</div>
						<div class="d-flex contact-grid mt-4 pt-lg-2">
							<div class="cont-left text-center mr-3">
								<span class="fa fa-phone"></span>
							</div>
							<div class="cont-right">
								<h6>Telefon</h6>
								<p>0 212 404 0 404</p>
							</div>
						</div>
						<div class="d-flex contact-grid mt-4 pt-lg-2">
							<div class="cont-left text-center mr-3">
								<span class="fa fa-envelope-open"></span>
							</div>
							<div class="cont-right">
								<h6>Mail Adresi</h6>
								<p class="mail">benimvitrinim@mail.com</p>
							</div>
						</div>
						<div class="d-flex contact-grid mt-4 pt-lg-2">
							<div class="cont-left text-center mr-3">
								<span class="fa fa-headphones"></span>
							</div>
							<div class="cont-right">
								<h6>Müşteri Hizmetleri</h6>
								<p class="mail">benimvitrinim@support.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 contact-right mt-md-0 mt-4">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6019.548424650202!2d28.948188677508544!3d41.03019546907691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caba02c5222d69%3A0x24ba70e0cfd3483e!2sBalat%2C%2034087%20Fatih%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1674496165321!5m2!1str!2str" width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>

				</div>
			</div>
		</div>
	</div>
</section>


