@using EntityLayer.Concrete
@model List<MainCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Card header -->
<div class="card-header border-0">
    <h3 class="mb-0">Ana Kategori Tablosu</h3>
</div>
<!-- Light table -->

<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>

                <th scope="col" class="sort" data-sort="id">#</th>
                <th scope="col" class="sort" data-sort="Header">Ana Kategori İsmi :</th>
                <th scope="col" class="sort" data-sort="Name">Ana Kategori Resmi :</th>
                <th scope="col">Sil</th>
                <th scope="col" class="sort" data-sort="completion">Düzenle</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.MainCategoryID</th>
                    <td class="budget">@item.NameMainCategory</td>
                    <td class="budget">@item.ImageUrlMainCategory</td>
                    <td> <a href="/MainCategory/DeleteMainCategory/@item.MainCategoryID" class="btn btn-danger">Sil</a></td>   @*Silme ve güncelleme işlemi için id gönderiyoruz*@
                    <td> <a href="/MainCategory/EditMainCategory/@item.MainCategoryID" class="btn btn-info"> Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/MainCategory/AddMainCategory" class="btn btn-success">Yeni Ana Kategori Ekle</a>
</div>


