@using EntityLayer.Concrete
@model List<MainCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container my-5" style="display:flex; justify-content:center; align-items:start; width:20rem;">
    <table class="table table-bordered">
        <tr>
            <th>Kategoriler</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr> <td><a href="/SubCategory/Index/@item.MainCategoryID">@item.NameMainCategory</a></td> </tr>
        }

    </table>
</div>



