@using EntityLayer.Concrete
@model List<Product>

<div class="comment-top">
    <div class="card" style="width: 100%;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center"><b>Ürünü beğendin mi?</b></li>
            <form action="/Comment/PartialAddComment/" method="post">
            <li class="list-group-item">
                    @foreach (var item in Model)
                    {
                        var pID = item.ProductID;
                    <input class="form-control" type="hidden" name="pID" value="@item.ProductID" asp-for="@item.ProductID">


                    <input class="form-control" type="hidden" name="CommentUserName" value="@ViewBag.isim" placeholder="İsim Soyisim" required="" disabled="disabled">
                    }
                <textarea class="form-control" name="CommentContent" placeholder="Yorum yap ve ürünü kap..." required=""></textarea>
                <br />
                <button type="submit" class="btn btn-success submit ">Yorum Yap!</button>
            </li>
            </form>
        </ul>
    </div>
</div>