

<div class="navbar-inner">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav text-center">
                    <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="/Home/HomePage/">
                            Ana Sayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Kadın
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/CategorySub/1/">Giyim</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/2/">Çanta</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/3/">Ayakkabı</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/4/">Aksesuar</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/CategorySub/5/">Hamile</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/6/">Kozmetik</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/7/">İç Giyim</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/8/">Spor & Outdoor</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Bebek ve Çocuk
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/CategorySub/9/">Bebek</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/10/">Kız Çocuk</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/11/">Erkek Çocuk</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/12/">Oyuncak & Kitap</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Ev ve Yaşam
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/CategorySub/13/">Hobi</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/14/">Spor Aletleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/15/">Dekorasyon</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/16/">Düzenleyici</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/17/">Banyo</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/18/">Mutfak Tekstili</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/19/">Mutfak Eşyları</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/20/">Ev Tekstili</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/CategorySub/21/">Kitap</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/22/">Kırtasiye/Ofis Malzemeleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/23/">Aydınlatma</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/24/">Petshop Ürünleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/25/">Yapı Market</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/26/">Bahçe Malzemeleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/27/">Spor & Outdoor</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/28/">Temizlik Gereçleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Erkek
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/CategorySub/30/">Giyim</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/29/">Ayakkabı</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/31/">Çanta</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/CategorySub/32/">Aksesuar</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/33/">Kozmetik</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/34/">Spor & Outdoor</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Elektronik
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/CategorySub/35/">Telefon & Telefon Aksesuarı</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/36/">Giyilebilir Teknoloji</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/37/">Bilgisayar & Tablet</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/38/">Görüntü & Ses</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/39/">Oyunculara Özel</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/CategorySub/40/">Fotoğraf & Kamera</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/41/">Yazıcı & Tarayıcı</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/42/">Kişisel Bakım Aletleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/43/">Elektrikli Mutfak Aletleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/CategorySub/44/">Elektrikli Ev Aletleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/ContactUs/">Hakkımızda</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
