
<div class="navbar-inner">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav text-center">
                    <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="/">
                            Ana Sayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Kadın
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/SubCategory/1/">Giyim</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/2/">Çanta</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/3/">Ayakkabı</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/4/">Aksesuar</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/SubCategory/5/">Hamile</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/6/">Kozmetik</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/7/">İç Giyim</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/8/">Spor & Outdoor</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Bebek ve Çocuk
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/SubCategory/9/">Bebek</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/10/">Kız Çocuk</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/11/">Erkek Çocuk</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/12/">Oyuncak & Kitap</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Ev ve Yaşam
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/SubCategory/13/">Hobi</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/14/">Spor Aletleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/15/">Dekorasyon</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/16/">Düzenleyici</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/17/">Banyo</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/18/">Mutfak Tekstili</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/19/">Mutfak Eşyları</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/20/">Ev Tekstili</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/SubCategory/21/">Kitap</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/22/">Kırtasiye/Ofis Malzemeleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/23/">Aydınlatma</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/24/">Petshop Ürünleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/25/">Yapı Market</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/26/">Bahçe Malzemeleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/27/">Spor & Outdoor</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/28/">Temizlik Gereçleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Erkek
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/SubCategory/30/">Giyim</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/29/">Ayakkabı</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/31/">Çanta</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/SubCategory/32/">Aksesuar</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/33/">Kozmetik</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/34/">Spor & Outdoor</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Elektronik
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/SubCategory/35/">Telefon & Telefon Aksesuarı</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/36/">Giyilebilir Teknoloji</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/37/">Bilgisayar & Tablet</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/38/">Görüntü & Ses</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/39/">Oyunculara Özel</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="/Category/SubCategory/40/">Fotoğraf & Kamera</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/41/">Yazıcı & Tarayıcı</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/42/">Kişisel Bakım Aletleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/43/">Elektrikli Mutfak Aletleri</a>
                                            </li>
                                            <li>
                                                <a href="/Category/SubCategory/44/">Elektrikli Ev Aletleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/Index/">Hakkımızda</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>