
<div class="navbar-inner">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav text-center">
                    <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="index.html">
                            Ana Sayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Kadın
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product.html">Giyim</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Çanta</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Ayakkabı</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Aksesuar</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product.html">Hamile</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Kozmetik</a>
                                            </li>
                                            <li>
                                                <a href="product.html">İç Giyim</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Spor & Outdoor</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Bebek ve Çocuk
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product.html">Bebek</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Kız Çocuk</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Erkek Çocuk</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Oyuncak & Kitap</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Ev ve Yaşam
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Hobi</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Spor Aletleri</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Dekorasyon</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Düzenleyici</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Banyo</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Mutfak Tekstili</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Mutfak Eşyları</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Ev Tekstili</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Kitap</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Kırtasiye/Ofis Malzemeleri</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Aydınlatma</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Petshop Ürünleri</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Yapı Market</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Bahçe Malzemeleri</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Spor & Outdoor</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Temizlik Gereçleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Erkek
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Giyim</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Ayakkabı</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Çanta</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Aksesuar</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Kozmetik</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Spor & Outdoor</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Elektronik
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Tüm Kategoriler</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Telefon & Telefon Aksesuarı</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Giyilebilir Teknoloji</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Bilgisayar & Tablet</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Görüntü & Ses</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Oyunculara Özel</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Fotoğraf & Kamera</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Yazıcı & Tarayıcı</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Kişisel Bakım Aletleri</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Elektrikli Mutfak Aletleri</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Elektrikli Ev Aletleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">İletişim</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>