@model IEnumerable<EntityLayer.Concrete.SubCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<table class="table table-bordered">
    <tr><th>Kategoriler</th> </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><a href="/GenreCategory/Index/@item.SubCategoryID">@item.NameSubCategory</a></td>
        </tr>
    }
</table>
