@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}


<!-- banner -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<!-- Indicators-->
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item item1 active">
			<div class="banner-style d-flex align-items-center">
				<div class="container">
					<div class="w3l-space-banner">
						
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item item2">
			<div class="banner-style d-flex align-items-center">
				<div class="container">
					
				</div>
			</div>
		</div>
		<div class="carousel-item item3">
			<div class="banner-style d-flex align-items-center">
				<div class="container">
					<div class="w3l-space-banner">
						
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item item4">
			<div class="banner-style d-flex align-items-center">
				<div class="container">
					<div class="w3l-space-banner">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<!-- //banner -->


<div class="container mt-5 mb-5">
	<div class="row">

		@foreach (var item in Model)
		{
			if (item.BuyTraderID == null && item.StatusProduct == true)
			{
				<div class="col-md-3 product-men mb-3">
					<div class="men-pro-item simpleCart_shelfItem">
						<div class="men-thumb-item text-center">
							<img src="@item.ImageUrl1Product" alt="" class="img-fluid">
							@*<div class="men-cart-pro"></div>*@
						</div>
						<div class="item-info-product text-center mt-2">
							<h4 class="pt-1">
								<a href="single.html">@item.NameProduct</a>
							</h4>
							<div class="info-product-price">
								<span class="item_price">@item.PriceProduct</span>
							</div>

							<a href="/Product/DetailsProduct/@item.ProductID" class="btn btn-primary">Detaya Git</a>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>




