@model IEnumerable<EntityLayer.Concrete.Product>
@{
    ViewData["Title"] = "CategorySub";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}

<div class="product-sec1 px-lg-4 mb-3">
    <div class="row">
        @foreach (var item in Model)
        {
            @if (item.StatusProduct == true && item.BuyTraderID == null)
            {
                <div class="col-md-4 product-men mb-3">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item text-center">
                            <a href="/Product/ProductDetails/@item.ProductID/"><img src="@item.ImageUrl1Product" alt="" class="img-fluid"></a>
                        </div>
                        <div class="item-info-product text-center mt-2">
                            <h4 class="pt-1">
                                <a href="single.html">@item.NameProduct</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">@item.PriceProduct</span>
                            </div>
                           
                            <a href="/Product/DetailsProduct/@item.ProductID" class="btn btn-primary">Detaya Git</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

